#Oefeningen op Structured arrays
##Oef1
Wat moeten we invullen voor de variabele *items* om een correcte structured array *producten* te maken. (meerdere antwoorden mogelijk)

1. items = [item.values() for item in producten]
1. items = [list(item.values()) for item in producten]
1. items = [tuple(item.values()) for item in producten]

In [ ]:
import numpy as np
producten = [{'naam':'potlood', 'aantal':10},
             {'naam': 'gom', 'aantal':5},
             {'naam': 'meetlat', 'aantal': 7}]
#Wat moeten we hier invullen voor de variabele 'items'
#items = [item.values() for item in producten]         #antwoord 1
#items = [list(item.values()) for item in producten]   #antwoord 2
#items = [tuple(item.values()) for item in producten]  #antwoord 3
df_producten = np.array(items, dtype={'names':list(producten[0].keys()), 'formats':('U10', 'i4')})
print(df_producten)

##Oef2
Wat is het dtype van een item in *df_producten*:
1. [('naam', '<U10'), ('aantal', '<i4')]
1. [('naam', '<U7'), ('aantal', '<i8')]
1. [('namen', '<U10'), ('aantallen', '<i4')]
1. [('namen', '<U7'), ('aantallen', '<i8')]

In [ ]:
import numpy as np
namen = np.array(['potlood', 'gom', 'meetlat'])
aantallen = np.array([10, 5, 7])
product_type = np.dtype([('naam', namen.dtype), ('aantal', aantallen.dtype)])
df_producten = np.array([(namen[i], aantallen[i]) for i in range(len(namen))], dtype=product_type)
print(df_producten)

##Oef3
Wat is het pythontype van een element in *df_producten*?
1. <class 'tuple'>
1. <class 'list'>
1. <class 'numpy.void'>
1. <class [('naam', namen.dtype), ('aantal', aantallen.dtype)]>
1. <class 'numpy.ndarray'>

In [ ]:
import numpy as np
namen = np.array(['potlood', 'gom', 'meetlat'])
aantallen = np.array([10, 5, 7])
product_type = np.dtype([('naam', namen.dtype), ('aantal', aantallen.dtype)])
df_producten = np.array([(namen[i], aantallen[i]) for i in range(len(namen))], dtype=product_type)
type(df_producten)

##Oef4
De volgende code werkt. We kunnen op die manier de tekst ' mm' weghalen zodat we de waarden kunnen omzetten naar integers. Kunnen we die twee statements niet in 1 statement schrijven? Welke van de volgende alternatieven werkt ook (meerdere antwoorden mogelijk)

1. df_regen['f0', 'f1'] = np.strings.replace(df_regen['f0', 'f1'], ' mm', '')
1. df_regen[['f0', 'f1']] = np.strings.replace(df_regen[['f0', 'f1']], ' mm', '')
1. df_regen = np.strings.replace(df_regen, ' mm', '')
1. Geen enkele van de alternatieven werkt

In [ ]:
import numpy as np
df_regen = np.array([('10 mm', '2 mm'), ('15 mm', '8 mm'), ('20 mm', '5 mm')], dtype='U5, U5')
#zet de volgende 2 regels in commentaar om de alternatieven uit te proberen
df_regen['f0'] = np.strings.replace(df_regen['f0'], ' mm', '')
df_regen['f1'] = np.strings.replace(df_regen['f1'], ' mm', '')
#De mogelijke alternatieven
#df_regen['f0', 'f1'] = np.strings.replace(df_regen['f0', 'f1'], ' mm', '')     #antwoord1
#df_regen[['f0', 'f1']] = np.strings.replace(df_regen[['f0', 'f1']], ' mm', '') #antwoord2
#df_regen = np.strings.replace(df_regen, ' mm', '')                             #antwoord3
print(df_regen)

##Oef5
Wat is het type van het eerste element van df_regen['max']?
1. <class 'numpy.ndarray'>
1. <class 'numpy.uint8'>
1. <class 'numpy.str_'>
1. <class 'numpy.void'>

In [ ]:
import numpy as np
df_regen = np.array([('10 mm', '2 mm'), ('15 mm', '8 mm'), ('20 mm', '5 mm')],
                    dtype={'names':['max', 'min'], 'formats': ['U5', 'U5']})
df_regen['max'] = np.strings.replace(df_regen['max'], ' mm', '').astype(np.uint8)
df_regen['min'] = np.strings.replace(df_regen['min'], ' mm', '').astype(np.uint8)
type(df_regen)

## download het bestand

In [ ]:
import requests
from zipfile import ZipFile
data = requests.get('https://www.kaggle.com/api/v1/datasets/download/alexgczs/monthly-temperature-in-spain-1996-2023')
with open('data.zip', 'wb') as f:
  f.write(data.content)
with open ('data.zip', 'rb') as f:
  zip_ = ZipFile(f)
  zip_.extractall()

##Oef 6
Is *df_spain* in de volgende code een structured array?
1. Nee
1. Ja

In [ ]:
import numpy as np
TEMP_CSV = 'monthly_temperature_spain (1996-2023).csv'
df_spanje = np.genfromtxt(TEMP_CSV, delimiter=',',dtype=None, encoding='utf-8', usecols=(0, -1))
print(f'{df_spanje=}')

##Oef7
Is dit de correcte manier om de inhoud van het CSV-bestand in te lezen als een structured array?
1. Nee
2. Ja

In [ ]:
import numpy as np
TEMP_CSV = 'monthly_temperature_spain (1996-2023).csv'
df_spanje = np.genfromtxt(TEMP_CSV, delimiter=',',dtype=None, encoding='utf-8', usecols=(0, 1,-1), names=['month', 'avg_temp', 'place'])
print(f'{df_spanje=}')

##Oef8
Pas de volgende code aan zodat je alleen de velden avg_temp, max_temp en min_temp leest.

In [ ]:
import numpy as np
TEMP_CSV = 'monthly_temperature_spain (1996-2023).csv'
df_spanje = np.genfromtxt(TEMP_CSV, delimiter=',',dtype=None, encoding='utf-8', names=True)
print(f'{df_spanje=}')

##Oef9
De volgende code leest de velden avg_temp, max_temp en min_temp als een structured array. Aangezien al die velden kunnen worden omgezet naar een integer, kunnen we ook een gewone array gebruiken. Vul de code aan zodat *arr_spanje* een gewone integer-array is met als shape(480, 4)

In [ ]:
import numpy as np
TEMP_CSV = 'monthly_temperature_spain (1996-2023).csv'
df_spanje = np.genfromtxt(TEMP_CSV, delimiter=',',dtype=None, encoding='utf-8', names=True, usecols=(1, 2, 3, 4))
#Schrijf hier de code die nodig is om een integer-array met shape (480, 4) te maken
print(f'{arr_spanje.shape=}')
print(f'{arr_spanje=}')

#Oplossingen
##Oplossing 1
Het juiste antwoord is `items = [tuple(item.values()) for item in producten]`. (antwoord 3)
##Oplossing 2
Het dtype is `[('naam', '<U7'), ('aantal', '<i8')]` (antwoord 2)
##Oplossing 3
In tegenstelling tot wat je misschien zou verwachten is het type numpy.void(antwoord 3). Het type numpy.void is een flexibel type: alles mag.
##Oplossing 4
Geen enkele van de alternatieven werkt (antwoord 4).
##Oplossing 5
We kunnen het type van een afzonderlijk element in een structured array niet wijzigen. Het type behoort tot het volledige item. Het juiste antwoord is dus <class 'numpy.str_'> (antwoord 3)
##Oplossing 6
Het is geen structured array (antwoord 1). Je kunt dat zien aan de shape, maar ook aan het type. Wanneer we *names=True* meegeven, zal het wel een structured array zijn.
##Oplossing 7
Dit is een structured array, maar de eerste regel met de veldnamen is ook als data gelezen. Dit is dus niet de correcte manier (antwoord 1).
##Oplossing 8
Het is voldoende om *usecols* te gebruiken:

`df_spanje = np.genfromtxt(TEMP_CSV, delimiter=',',dtype=None, encoding='utf-8', usecols=(1, 2, 3), names=True)`

##Oplossing 9
Het is het gemakkelijkste om gebruik te maken van de functie *structured_to_unscructured()* van *numpy.lib.recfunctions*.

We moeten eerst 'ºC' en ' Días' verwijderen. Vervolgens kunnen we het type omzetten naar np.int8 (np.uint8 werkt niet omdat er ook negatieve temperaturen zijn.).



```
import numpy as np
import numpy.lib.recfunctions as rf
TEMP_CSV = 'monthly_temperature_spain (1996-2023).csv'
df_spanje = np.genfromtxt(TEMP_CSV, delimiter=',',dtype=None, encoding='utf-8', names=True, usecols=(1, 2, 3, 4))
#Schrijf hier de code die nodig is om een integer-array met shape (480, 4) te maken
arr_spanje = rf.structured_to_unstructured(df_spanje)
arr_spanje[:,[0, 1, 2]] = np.strings.replace(arr_spanje[:,[0, 1, 2]], 'ºC', '')
arr_spanje[:, 3] = np.strings.replace(arr_spanje[:, 3], ' Días', '')
arr_spanje = arr_spanje.astype(np.int8)
print(f'{arr_spanje.shape=}')
print(f'{arr_spanje=}')
```