# Oefeningen op aggregatiefuncties
##Oef 1
In de onderstaande code wordt de som van de elementen in de array berekend met de Python-sum()-functie en met de NumPy-sum()-functie. Hoe moet je de NumPy-sum()-functie aanpassen om hetzelfde resultaat te krijgen als met de Python-sum()-functie?

1) print(np.sum(arr[:, [0, 1]]))
1) print(np.sum(arr[[0, 1], :]))
1) print(np.sum(arr, axis=0))
1) print(np.sum(arr, axis=1))

In [ ]:
import numpy as np
arr = np.arange(4).reshape(2, -1)
print('arr:\n', arr)
print('sum(arr):', sum(arr))
print('np.sum(arr):', end=' ')
print(np.sum(arr)) #Hoe krijg je dezelfde uitkomst als met sum(arr)

## Oef 2
Hoe moet je in onderstaande code de berekening van de som aanpassen om het volgende resultaat te krijgen:
```
[[ 1  5]
 [ 9 13]]
```
1) print(np.sum(arr, axis=0))
1) print(np.sum(arr, axis=1))
1) print(np.sum(arr, axis=2))
1) print(np.sum(arr, axis=3))

In [ ]:
import numpy as np
arr = np.arange(8).reshape((2, 2, -1))
print('arr:\n', arr)
print('np.sum(arr):', end= ' ')
print(np.sum(arr)) #hoe moet je deze regel aanpassen?

## Oef 3
Wat is het type van de onderstaande array?

1) object
1) int64
1) int8
1) float64

In [ ]:
import numpy as np
arr = np.array([1, 2, 3, None])

## Oef 4
Wat is het type van de onderstaande array?
1) object
1) int64
1) int8
1) float64

In [ ]:
import numpy as np
arr = np.array([1, 2, 3, np.nan])

## Oef 5
Wat moet je in onderstaande code invullen om de volgende output te krijgen (meerdere antwoorden mogelijk):

```
[1.5 3. ]
```
1) print(np.nanmedian(arr))
1) print(np.nanmedian(arr, axis=0))
1) print(np.nanmedian(arr, axis=1))
1) print(np.nanmean(arr))
1) print(np.nanmean(arr, axis=0))
1) print(np.nanmean(arr, axis=1))

In [ ]:
import numpy as np
arr = np.array([1, 2, 3, np.nan]).reshape(2, -1)
print('arr:\n', arr)
#wat moet je hier invullen?

##Oef 6
We hebben gezien dat een ongeldige datum ('') wordt omgezet naar NaT (Not-a-Time). Wat gebeurt er met de onbestaande datum (29 februari 2025) in de volgende code?
1) De waarde wordt 'NaT'
1) Je krijgt een foutmelding omdat de datum omgeldig is
1) De datum wordt omgezet naar 1 maart 2025

In [ ]:
import numpy as np
arr = np.array(['2025-01-31', '2025-02-29', '2025-03-31'],dtype='datetime64[D]')

## Oef 7
We hebben gezien dat de controle op het type (bijvoorbeeld np.int8) niet gebeurt in een array (wegens performantieredenen krijg je een *wrap around*). Hoe zit het met ongeldige datums? Waarom krijg je een foutmelding in de volgende code?
1) Je kunt een NaT waarde niet optellen bij een timedelta64
1) De string '2025-02-29' kan niet worden omgezet naar een geldige datum
1) Integers zijn geen timedelta's en kunnen niet bij een datum worden geteld
1) Je krijgt geen foutmelding in deze code

In [ ]:
import numpy as np
rng = np.random.default_rng(42)
timedeltas = rng.integers(1, 301, size=10)
datums = np.full(10, '2025-01-01')
datums[-2] = ''
datums[-1] = '2025-02-29'
datums = datums.astype('datetime64[D]') + timedeltas
datums

## Oef 8
Hoe dikwijls komt het getal 9 voor in de array volgens deze code?
1) 1 keer
1) Deze code geeft een foutmelding omdat np.nan geen geldige integer is
1) Deze code geeft een foutmelding omdat we 1 waarde (np.nan) niet kunnen toewijzen aan een slice

In [ ]:
import numpy as np
rng = np.random.default_rng(42)
arr = rng.integers(1, 10, size=20)
arr[-2:] = np.nan
getallen, frequenties = np.unique(arr, return_counts=True)
print('getallen:', getallen)
print('frequenties:', frequenties)

## Oef 9
De volgende code geeft een foutmelding. Zorg ervoor dat je de juiste output krijgt (het aantal dagen zal verschillen omdat ik deze code niet vandaag heb uitgevoerd):
```
Karen werd 18593 dagen geleden geboren
Kristel werd 18185 dagen geleden geboren
Kathleen werd 17264 dagen geleden geboren
```

In [ ]:
import csv
from datetime import date
import numpy as np
waarden = [
    {'voornaam':'Karen', 'geboortedatum':'1974-10-28'},
    {'voornaam':'Kristel', 'geboortedatum':'1975-12-10'},
    {'voornaam':'Kathleen', 'geboortedatum':'1978-06-18'}
    ]
with open('namen.csv', 'w', newline='') as csvfile:
    fieldnames = ['voornaam', 'geboortedatum']
    writer = csv.DictWriter(csvfile, fieldnames=fieldnames, delimiter=';')
    writer.writeheader()
    writer.writerows(waarden)
namen = np.genfromtxt('namen.csv', skip_header=1, dtype='str', delimiter=';', usecols=(0))
geboortedatums = np.genfromtxt('namen.csv', skip_header=1, dtype='datetime64[D]', delimiter=';', usecols=(1))
vandaag = date.today()
aantal_dagen = vandaag - geboortedatums
aantal_dagen = aantal_dagen.astype(int).astype('str')
resultaat = np.column_stack((namen, aantal_dagen))
for item in resultaat:
  print(f'{item[0]} werd {item[1]} dagen geleden geboren')

## Oef 10
De volgende code geeft een als output driemaal 'nan nan'. Zorg ervoor dat je de juiste output krijgt:
```
Karen Damen
Kristel Verbeke
Kathleen Aerts
```

In [ ]:
import csv
import numpy as np
waarden = [
    {'voornaam':'Karen', 'achternaam':'Damen', 'geboortedatum':'1974-10-28'},
    {'voornaam':'Kristel', 'achternaam':'Verbeke','geboortedatum':'1975-12-10'},
    {'voornaam':'Kathleen', 'achternaam':'Aerts', 'geboortedatum':'1978-06-18'}
    ]
with open('namen.csv', 'w', newline='') as csvfile:
    fieldnames = ['voornaam', 'achternaam', 'geboortedatum']
    writer = csv.DictWriter(csvfile, fieldnames=fieldnames, delimiter=';')
    writer.writeheader()
    writer.writerows(waarden)
namen = np.genfromtxt('namen.csv', skip_header=1, delimiter=';', usecols=(0, 1))
for naam in namen:
  print(f'{naam[0]} {naam[1]}')

#Oplossingen
##Oef 1
De correcte oplossing is print(np.sum(arr, axis=0)) (antwoord 3). De Python functie telt de rijen samen en dat is hetzelfde als 'over de rijen heen'.

##Oef 2
De correcte oplossing is print(np.sum(arr, axis=2)) (antwoord 3).

##Oef 3
Het type is object (antwoord 1). Numpy kiest het gemeenschappelijke type tussen python integer en None.

##Oef 4
Het type is float64 (antwoord 4). Een np.nan is een float64. NumPy kiest het gemeenschappelijke type tussen een Python integer en een NumPy float.

## Oef 5
Mean en median geven hier dezelfde uitkomst omdat de gegevens gelijkmatig verdeeld zijn. Dus print(np.nanmean(arr, axis=1)) (antwoord 3) en print(np.nanmedian(arr, axis=1)) (antwoord 6) zijn allebei correct.

## Oef 6
Je krijgt een foutmelding omdat '2025-02-29' geen geldige datum is (antwoord 2)
## Oef 7
Het juiste antwoord is "De string '2025-02-29' kan niet worden omgezet naar een geldige datum" (antwoord 2)
## Oef 8
Aangezien np.nan een float is, kan de waarde niet gebruikt worden in een array van integers (antwoord 3)
## Oef 9
Het probleem was dat we de min-operator niet kunnen gebruiken met een Python object en een NumPy datetime64. We moeten *vandaag* om zetten naar een NumPy datetime64:
```
vandaag = np.datetime64(date.today())
```
## Oef 10
Het probleem was dat *np.genfromtxt()* standaard waarden inleest als floats. Je moet de namen inlezen als strings:
```
namen = np.genfromtxt('namen.csv', dtype='str', skip_header=1, delimiter=';', usecols=(0, 1))
```