# Vragen examenresultaten
## Vooraf
Gebruik de volgende code om een bestand met examenresultaten te maken.

In [ ]:
from csv import DictWriter
bestand = 'examen.csv'
data = [
    {'naam':'Jan', 'Python':13, 'NumPy':'12', 'Pandas': 12},
    {'naam':'Piet', 'Python':17, 'NumPy':15, 'Pandas': 13},
    {'naam':'Joris', 'Python':7, 'NumPy':9, 'Pandas': '10'},
    {'naam':'Corneel', 'Python': 14, 'NumPy': 10, 'Pandas': 19},
        ]
with open(bestand, 'w', newline='', encoding='utf8') as f:
  writer = DictWriter(f, fieldnames=data[0].keys(), delimiter=';')
  writer.writeheader()
  writer.writerows(data)
data = None
with open(bestand, 'r', encoding='utf8') as f:
  for regel in f:
    print(regel, end='')

naam;Python;NumPy;Pandas
Jan;13;12;12
Piet;17;15;13
Joris;7;9;10
Corneel;14;10;19

## Vraag 1
Lees de namen van de studenten. Je moet de volgende output krijgen:

```
namen=array(['Jan', 'Piet', 'Joris', 'Corneel'], dtype='<U7')
```

In [ ]:
import numpy as np
bestand = 'examen.csv'
namen = #wat moet je hier invullen om de namen van de studenten te lezen in 'examen.csv'
print(f'{namen=}')

## Vraag 2
Lees de punten in 'examen.csv' en vul de functie bereken_gemiddelde_voor_vak aan zodat je het gemiddelde voor Python en Pandas afdrukt. De output moet er dus als volgt uitzien:
```
Gemiddelde voor Python is 12.75
Gemiddelde voor Pandas is 13.50
```

In [ ]:
import numpy as np
bestand = 'examen.csv'
def bereken_gemiddelde_voor_vaknaam(arr_punten, arr_vakken, vaknaam):
  #Bereken het gemiddelde voor 'vaknaam' op basis van de juiste arr_punten
  pass
namen=np.array(['Jan', 'Piet', 'Joris', 'Corneel'], dtype='<U7')
vakken=np.array(['Python', 'NumPy', 'Pandas'], dtype='<U6')
punten = #lees de punten in examen.csv
vak = 'Python'
python_gemiddelde = bereken_gemiddelde_voor_vaknaam(punten, vakken, vak)
print(f'Gemiddelde voor {vak} is {python_gemiddelde}')
vak = 'Pandas'
pandas_gemiddelde = bereken_gemiddelde_voor_vaknaam(punten, vakken, vak)
print(f'Gemiddelde voor {vak} is {pandas_gemiddelde:.2f}')

# Vragen Titanic dataset
## Vooraf
Download het bestand met de [Titanic dataset](https://www.kaggle.com/datasets/yasserh/titanic-dataset) van Kaggle via de volgende code:

In [ ]:
from zipfile import ZipFile
import requests
data = requests.get('https://www.kaggle.com/api/v1/datasets/download/yasserh/titanic-dataset')
with open('data.zip', 'wb') as f:
  f.write(data.content)
with open('data.zip', 'rb') as f:
  ZipFile(f).extractall()
import numpy as np
TITANIC_CSV='Titanic-Dataset.csv'
with open(TITANIC_CSV, encoding='utf8') as f:
  for _ in range(10):
    print(f.readline(),end='')

PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
1,0,3,"Braund, Mr. Owen Harris",male,22,1,0,A/5 21171,7.25,,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Thayer)",female,38,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26,0,0,STON/O2. 3101282,7.925,,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35,1,0,113803,53.1,C123,S
5,0,3,"Allen, Mr. William Henry",male,35,0,0,373450,8.05,,S
6,0,3,"Moran, Mr. James",male,,0,0,330877,8.4583,,Q
7,0,1,"McCarthy, Mr. Timothy J",male,54,0,0,17463,51.8625,E46,S
8,0,3,"Palsson, Master. Gosta Leonard",male,2,3,1,349909,21.075,,S
9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27,0,2,347742,11.1333,,S

## Vraag 3
Bereken het aantal overlevenden bij de ramp met de Titanic. Je moet de volgende output krijgen:


```
Aantal overlevenden: 342
```

In [ ]:
import numpy as np
TITANIC_CSV='Titanic-Dataset.csv'
#Vul aan
aantal_overleefd= 0
print(f'Aantal overlevenden: {aantal_overleefd}')

## Vraag 4
Wat is het percentage van de passagiers in derde klasse die de ramp met de Titanic heeft overleefd?

In [ ]:
import numpy as np
TITANIC_CSV='Titanic-Dataset.csv'
#Vul aan en bereken welk percentage van de passagiers in derde klasse de ramp overleefd heeft
percentage_overleefd_in_derde_klasse = 0
print(f'{percentage_overleefd_in_derde_klasse:.0f}% van de derdeklassepassagiers hebben overleefd.')

## Vraag 5
Bereken de gemiddelde leeftijd van de passagiers van de Titanic

In [ ]:
import numpy as np
TITANIC_CSV='Titanic-Dataset.csv'
#Vul aan om de gemiddelde leeftijd van de passagiers te berekenen
gemiddelde_leeftijd = 0
print(f'De gemiddelde leeftijd van alle passagiers was {gemiddelde_leeftijd:.0f} jaar')

## Vraag 6
De hoofdpersonages in de film 'Titanic' hadden als voornamen 'Jack' en 'Rose'. Schrijf code waarmee je kunt testen of er passagiers zijn in het bestand met de voornamen 'Jack' of 'Rose' (=komt de voornaam 'Jack' of 'Rose' voor in de naam. Let op: iemand die 'Jackson' of 'Rosen' heet, geldt natuurlijk niet als 'Jack' of 'Rose'). De output zou er dus als volgt moeten uitzien:

```
Er waren passagiers die Jack of Rose heetten
```
of


```
Er waren geen passagiers die Jack of Rose heetten
```

In [ ]:
import numpy as np
TITANIC_CSV='Titanic-Dataset.csv'
#Vul aan met code om te controleren of Jack of Rose werkelijk passagiers waren
is_jack_of_rose = False
if is_jack_of_rose:
  print('Er waren passagiers die Jack of Rose heetten')
else:
  print('Er waren geen passagiers die Jack of Rose heetten')

## Extra vraag (niet voor punten, voor de eer)
Gebruik de onderstaande code om een bestand te maken met de (fictieve) resultaten van de lottotrekking voor de laatste 10 trekkingen.

In [ ]:
import numpy as np
rng = np.random.default_rng(42)
lotto_getallen = np.arange(1, 46)
bestand = 'lotto.csv'
with open(bestand, 'w', encoding='utf8') as f:
  for _ in range(10):
    arr_getallen = rng.choice(lotto_getallen, size=6, replace=False).astype(str)
    lijn = ';'.join(arr_getallen)
    f.write(lijn + '\n')
arr_getallen = None

Stel dat ik de volgende getallen speel: 2, 7, 23, 31, 32, 42. Heb ik dan minstens 1 keer in de reeks van 10 trekkingen 6 juiste getallen gekozen? Vul de onderstaande code aan zodat je dit kunt controleren.

In [ ]:
import numpy as np
bestand = 'lotto.csv'
mijn_getallen = np.array([2, 7, 23, 31, 32, 42])
#Vul aan zodat je kunt controleren of je minstens eenmaal  in de 10 trekkingen 6 correcte cijfers had
is_gewonnen = False
if is_gewonnen:
  print('Proficiat. Je hebt minstens eenmaal met de lotto gewonnen.')
else:
  print('Spijtig. Je moet opnieuw spelen om te kunnen winnen. ')