#1. Examendata
De volgende code genereert punten voor 5 examens voor 10 studenten gedurende 3 jaar. Die heb je nodig voor de volgende oefeningen.

In [ ]:
import numpy as np
rng = np.random.default_rng(42)
punten = rng.integers(1, 20, size=(10, 5, 3))
namen = 'student' + np.arange(1, 11).astype(np.str_)
vakken = np.array(['Python', 'SQL', 'NumPy', 'Pandas', 'Matplotlib'])
jaren = 'jaar' + np.arange(1, 4).astype(np.str_)

##1.1. Examendata:verschil tussen jaar 3 en 1
Bereken voor elke student het verschil in punten tussen jaar 3 en jaar 1 voor de vakken Python en NumPy.

Je zou het volgende resultaat moeten uitkomen:

```
Verschil voor student1 tussen jaar 3 en 1 voor Python is 11 en voor NumPy 2
Verschil voor student2 tussen jaar 3 en 1 voor Python is -12 en voor NumPy 10
Verschil voor student3 tussen jaar 3 en 1 voor Python is -7 en voor NumPy -11
Verschil voor student4 tussen jaar 3 en 1 voor Python is -2 en voor NumPy 5
Verschil voor student5 tussen jaar 3 en 1 voor Python is -11 en voor NumPy -16
Verschil voor student6 tussen jaar 3 en 1 voor Python is -5 en voor NumPy 7
Verschil voor student7 tussen jaar 3 en 1 voor Python is 7 en voor NumPy 8
Verschil voor student8 tussen jaar 3 en 1 voor Python is -2 en voor NumPy -6
Verschil voor student9 tussen jaar 3 en 1 voor Python is 4 en voor NumPy 9
Verschil voor student10 tussen jaar 3 en 1 voor Python is -5 en voor NumPy 3
```

##1.2. Examendata: geslaagd voor Python
Toon de namen van de studenten die geslaagd zijn voor 'Python' (10 of meer gemiddeld over de drie jaren heen). Het resultaat zou er als volgt kunnen uitzien:
```
De volgende studenten zijn geslaagd voor Python:
['student1' 'student4' 'student5' 'student7' 'student8' 'student9']
```

##1.3. Examendata: correctie toepassen
Er is een fout gebeurd bij de puntentelling. De volgende correctie-array moet opgeteld worden bij de punten:

`np.array([1, 1, -1, 1, -1]) `

(1 punt bij voor Python, SQL en Pandas en 1 punt minder voor NumPy en Matplotlib).

Hoe kun je de correctie-array definiëren zodat je die kunt optellen bij punten. Denk hierbij aan de automatische broadcasting die gebeurt in NumPy

`punten_corrigeerd = punten + correctie`

In [ ]:
import numpy as np
rng = np.random.default_rng(42)
punten = rng.integers(0, 21, size=(10, 5, 3))
namen = 'student' + np.arange(1, 11).astype(np.str_)
vakken = np.array(['Python', 'SQL', 'NumPy', 'Pandas', 'Matplotlib'])
jaren = 'jaar' + np.arange(1, 4).astype(np.str_)

correctie = np.array([1, 1, -1, 1, -1])
#Hoe moet je 'correctie' herdefiniëren om het volgende statement te laten werken?
punten_gecorrigeerd = punten + correctie
print(punten_gecorrigeerd)

#2. Autocontrole
De volgende code genereert een bestand met data voor auto's (nummerplaat en inschrijvingsdatum):

In [ ]:
from csv import DictWriter
autos = [
    {'nummerplaat':'1-AAA-111', 'inschrijvingsdatum':'2022-10-12'},
    {'nummerplaat':'1-BBB-222', 'inschrijvingsdatum':'2022-11-12'},
    {'nummerplaat':'1-CCC-333', 'inschrijvingsdatum':'2022-09-12'},
    {'nummerplaat':'1-DDD-444', 'inschrijvingsdatum':'2023-10-13'},
    {'nummerplaat':'1-EEE-555', 'inschrijvingsdatum':'2022-10-11'},
    ]
with open('autos.csv', 'w', newline='') as csvfile:
    fieldnames = autos[0].keys()
    writer = DictWriter(csvfile, fieldnames=fieldnames, delimiter=';')
    writer.writeheader()
    writer.writerows(autos)

##Vooraf: Leeftijd berekenen
Je kunt de leeftijd op de volgende manier berekenen in NumPy:
1. trek de geboortedatum af van de datum van vandaag
2. zet het resultaat om naar een timedelta64[Y]

##2.1. Naar de autokeuring
Auto's moeten in België naar de autokeuring wanneer ze drie jaar oud zijn. Lees de data in het CSV-bestand met NumPy en toon een lijst van de nummerplaten die vanaf 12 oktober 2025 naar de keuring moeten:
```
de volgende wagens moeten naar de autokeuring vanaf 2025-10-12
['1-AAA-111' '1-CCC-333' '1-EEE-555']
```

#3. Datums en uren filteren
(De volgende oefening is gebaseerd op een vraag van Wouter tijdens de eerste les)

Ik wil een lijst tonen met de uren tussen 11 en 13 (allebei inbegrepen) voor alle dagen in november 2025. In de volgende code heb ik al een begin gemaakt maar er zit nog een fout in.
1. Verbeter de fout
2. Breid het programma uit zodat je de volgende output krijgt:
```
 1. 2025-11-01T11 2025-11-01T12 2025-11-01T13
 2. 2025-11-02T11 2025-11-02T12 2025-11-02T13
 3. 2025-11-03T11 2025-11-03T12 2025-11-03T13
 4. 2025-11-04T11 2025-11-04T12 2025-11-04T13
 5. 2025-11-05T11 2025-11-05T12 2025-11-05T13
 6. 2025-11-06T11 2025-11-06T12 2025-11-06T13
 7. 2025-11-07T11 2025-11-07T12 2025-11-07T13
 8. 2025-11-08T11 2025-11-08T12 2025-11-08T13
 9. 2025-11-09T11 2025-11-09T12 2025-11-09T13
10. 2025-11-10T11 2025-11-10T12 2025-11-10T13
11. 2025-11-11T11 2025-11-11T12 2025-11-11T13
12. 2025-11-12T11 2025-11-12T12 2025-11-12T13
13. 2025-11-13T11 2025-11-13T12 2025-11-13T13
14. 2025-11-14T11 2025-11-14T12 2025-11-14T13
15. 2025-11-15T11 2025-11-15T12 2025-11-15T13
16. 2025-11-16T11 2025-11-16T12 2025-11-16T13
17. 2025-11-17T11 2025-11-17T12 2025-11-17T13
18. 2025-11-18T11 2025-11-18T12 2025-11-18T13
19. 2025-11-19T11 2025-11-19T12 2025-11-19T13
20. 2025-11-20T11 2025-11-20T12 2025-11-20T13
21. 2025-11-21T11 2025-11-21T12 2025-11-21T13
22. 2025-11-22T11 2025-11-22T12 2025-11-22T13
23. 2025-11-23T11 2025-11-23T12 2025-11-23T13
24. 2025-11-24T11 2025-11-24T12 2025-11-24T13
25. 2025-11-25T11 2025-11-25T12 2025-11-25T13
26. 2025-11-26T11 2025-11-26T12 2025-11-26T13
27. 2025-11-27T11 2025-11-27T12 2025-11-27T13
28. 2025-11-28T11 2025-11-28T12 2025-11-28T13
29. 2025-11-29T11 2025-11-29T12 2025-11-29T13
30. 2025-11-30T11 2025-11-30T12 2025-11-30T13
```

In [ ]:
import numpy as np
arr_dagen = np.arange(np.datetime64('2025-11-01'), np.datetime64('2025-11-30'), np.timedelta64(1, 'h'))
arr_basis = arr_dagen.astype('datetime64[D]')
uurverschil = arr_dagen - arr_basis
is_op_de_middag = uurverschil >= 11 and uurverschil <= 13
dagen_op_de_middag = arr_dagen[is_op_de_middag]

#4. Gemiddelde leeftijd van zangeressen
##Ter herinnering: Leeftijd berekenen
Je kunt de leeftijd op de volgende manier berekenen in NumPy:
1. trek de geboortedatum af van de datum van vandaag
2. zet het resultaat om naar een timedelta64[Y]

De volgende code maakt een bestand met namen en geboortedatums. Lees de data van het bestand en bereken de gemiddelde leeftijd van alle namen waarvan de geboortedatum bekend is.

Het resultaat zou er als volgt kunnen uitzien:
`de gemiddelde leeftijd van de zangeressen is 44.0 jaar`

In [ ]:
from csv import DictWriter
import numpy as np

data = [
    {'naam': 'Karen', 'geboortedatum':'1974-10-28'},
     {'naam': 'Kristel', 'geboortedatum':'1975-12-10'},
     {'naam': 'Kathleen', 'geboortedatum':'1978-06-18'},
     {'naam': 'Josje', 'geboortedatum':''},
     {'naam': 'Hanne', 'geboortedatum':''},
     {'naam': 'Marthe', 'geboortedatum':''},
     {'naam': 'Klaasje', 'geboortedatum':'1995-03-02'},
     {'naam': 'Julia', 'geboortedatum':''},
     {'naam': 'Nora', 'geboortedatum':''},
    ]
K3_CSV = 'k3.csv'
with open(K3_CSV, 'w', newline='') as csvfile:
    fieldnames = data[0].keys()
    writer = DictWriter(csvfile, fieldnames=fieldnames, delimiter=';')
    writer.writeheader()
    writer.writerows(data)

#5. Scoren op examens
De volgende data komen van Kaggle ([Student exam score dataset analysis](https://www.kaggle.com/datasets/grandmaster07/student-exam-score-dataset-analysis)). De onderstaande code downloadt het bestand.

In [ ]:
from zipfile import ZipFile
import numpy as np
import requests
data = requests.get('https://www.kaggle.com/api/v1/datasets/download/grandmaster07/student-exam-score-dataset-analysis')
with open ('data.zip', 'wb') as f:
  f.write(data.content)
with open('data.zip', 'rb') as f:
  ZipFile.extractall(ZipFile(f))

##5.1. Scoren op examens:studeeruur-categorieën
Deel de studeeruren in 3 even grote categorieën in. Maak een lijst met telkens het gemiddelde aantal studeeruren voor elke categorie en het aantal studenten dat in die categorie valt. Je zou de volgende output moeten genereren:
```
75 studenten hebben gemiddeld 2.8 uur gestudeerd
64 studenten hebben gemiddeld 6.5 uur gestudeerd
61 studenten hebben gemiddeld 10.2 uur gestudeerd

#6. De passagiers van de Titanic
De data komt van de [Titanic dataset](https://www.kaggle.com/datasets/yasserh/titanic-dataset/data) van Kaggle. De onderstaande code downloadt het bestand.

In [ ]:
from zipfile import ZipFile
import requests
data = requests.get('https://www.kaggle.com/api/v1/datasets/download/yasserh/titanic-dataset')
with open('data.zip', 'wb') as f:
  f.write(data.content)
with open('data.zip', 'rb') as f:
  ZipFile(f).extractall()

##6.1. De passagiers van de Titanic: overlevenden per klasse
De passagiers van de Titanic waren opgedeeld in drie klassen. Toon voor elk van de drie klasse welk percentage de ramp met de Titanic overleefd heeft. Je zou de volgende output moeten krijgen:
```
In klasse 1 overleefde 62%
In klasse 2 overleefde 47%
In klasse 3 overleefde 24%
```

#7. Temperatuuranalyse
De volgende code downloadt een dataset die de dagelijkse temperaturen in een aantal steden bevat voor de jaren 1995-2020. Je vindt informatie over die dataset op Kaggle bij [Daily Temperature of Major Cities](https://www.kaggle.com/datasets/sudalairajkumar/daily-temperature-of-major-cities)

In [ ]:
from zipfile import ZipFile
import requests
data = requests.get(' https://www.kaggle.com/api/v1/datasets/download/sudalairajkumar/daily-temperature-of-major-cities')
with open('data.zip', 'wb') as f:
  f.write(data.content)
with ZipFile('data.zip') as zip_:
  zip_.extractall()

##7.1. Temperatuuranalyse: gemiddelde temperatuur voor Birmingham(US), Parijs en Brussel

De temperaturen in het bestand zijn uitgedrukt in graden Fahrenheit. Je zet die om naar °C volgens de volgende formule:
$$ °C = \frac{(°F -32) * 5}{9} $$

Toon voor de maand december 2015 voor elke dag het gemiddelde van de temperatuur in °C in de steden Birmingham (in de Verenigde Staten), Brussel en Parijs. Je moet dus voor elke dag één gemiddelde berekenen voor de drie steden.

(Let vooral op de temperatuur voor 31 december)

```
dag 1: 13.98 °C
dag 2: 11.33 °C
dag 3: 8.04 °C
dag 4: 7.96 °C
dag 5: 7.41 °C
dag 6: 10.39 °C
dag 7: 10.65 °C
dag 8: 9.19 °C
dag 9: 8.85 °C
dag 10: 7.61 °C
dag 11: 10.85 °C
dag 12: 12.52 °C
dag 13: 11.57 °C
dag 14: 10.80 °C
dag 15: 10.13 °C
dag 16: 12.74 °C
dag 17: 13.78 °C
dag 18: 9.63 °C
dag 19: 8.93 °C
dag 20: 9.81 °C
dag 21: 11.81 °C
dag 22: 13.93 °C
dag 23: 13.15 °C
dag 24: 14.28 °C
dag 25: 14.43 °C
dag 26: 13.91 °C
dag 27: 13.72 °C
dag 28: 12.20 °C
dag 29: 10.26 °C
dag 30: 9.33 °C
dag 31: 12.56 °C
```

#8. Taxiritten in New York
De volgende data komen van Kaggle ([NYC Taxi Fare Dataset](https://www.kaggle.com/datasets/diishasiing/revenue-for-cab-drivers/data)). De onderstaande code downloadt de data.

In [ ]:
from zipfile import ZipFile
import requests
data = requests.get('https://www.kaggle.com/api/v1/datasets/download/diishasiing/revenue-for-cab-drivers')
with open ('data.zip', 'wb') as f:
  f.write(data.content)
with open('data.zip', 'rb') as f:
  ZipFile.extractall(ZipFile(f))

##8.1. Taxiritten in New York: duurtijden
Voor elke rit is er een pickup_datetime en een dropoff_datetime. Op basis hiervan kun je berekenen hoe lang elke rit duurt.
Toon in seconden de gemiddelde duurtijd, de langste duurtijd en de kortste duurtijd.

Wat vind je van die resultaten? Zijn ze logisch volgens jou? Vergelijk de duurtijd bijvoorbeeld eens met afstand die afgelegd werd (*trip_distance*). Wat denk je van taxiritten die langer dan 1 dag duren of taxiritten met een negatieve duurtijd?

In de dataset zitten een aantal waarden die duidelijk fout zijn. Wat zou bijvoorbeeld een negatief total_amount willen zetten? Maak voor jezelf eens uit welke ritten je wel mee laten tellen voor de gemiddelde duurtijd en welke niet. Vermeld ook eens waarom je beslist hebt om bepaalde waarden eruit te filteren.

Welke gemiddelde duurtijden kom je op het einde uit? (gebruik eventueel plt.hist(duurtijden, 10) om het resultaat te plotten).

Er is geen goed of slecht antwoord hier bij het bepalen van de filter. We hebben heel weinig informatie over de dataset: waarom zijn sommige bedragen of afstanden negatief? Wat zijn aanvaardbare duurtijden? (5 dagen???) Dus probeer eens met logica uit te vissen wat een goede filter zou zijn om de gemiddelde duurtijd te berekenen van een taxirit in New York.

#Oplossingen
##1.1. Examendata:verschil tussen jaar 3 en 1
We filteren op de vaknamen Python of NumPy. Vervolgens kunnen we de derde dimensie gebruiken om index 2 en index 0 van elkaar af te trekken.

In [ ]:
import numpy as np
rng = np.random.default_rng(42)
punten = rng.integers(1, 20, size=(10, 5, 3))
namen = 'student' + np.arange(1, 11).astype(np.str_)
vakken = np.array(['Python', 'SQL', 'NumPy', 'Pandas', 'Matplotlib'])
jaren = 'jaar' + np.arange(1, 4).astype(np.str_)

arr_punten_python_numpy = punten[:, (vakken == 'Python') | (vakken == 'NumPy'), :]
arr_verschil = arr_punten_python_numpy[:, :, 2] - arr_punten_python_numpy[:, :, 0]
for naam, verschil in zip(namen, arr_verschil):
  print(f'Verschil voor {naam} tussen jaar 3 en 1 voor {vakken[0]} is {verschil[0]} en voor {vakken[2]} {verschil[1]}')

##1.2. Examendata: geslaagd voor Python
Let op: de array *geslaagd_python* heeft twee dimensies. DIe kunnen we niet als index gebruiken voor *namen*. Daarom voeren we een reshape()-uit. Een alternatief is de functie *ravel()*. Die maakt een 1-dimensionele array.

In [ ]:
import numpy as np
rng = np.random.default_rng(42)
punten = rng.integers(1, 20, size=(10, 5, 3))
namen = 'student' + np.arange(1, 11).astype(np.str_)
vakken = np.array(['Python', 'SQL', 'NumPy', 'Pandas', 'Matplotlib'])
jaren = 'jaar' + np.arange(1, 4).astype(np.str_)

geslaagd_python = punten[:, (vakken=='Python'), :].mean(axis=2) >= 10
#geslaagd_python = geslaagd_python.reshape(namen.shape)
geslaagd_python = geslaagd_python.ravel()
print('De volgende studenten zijn geslaagd voor Python:')
print(namen[geslaagd_python])

##1.3. Examendata: correctie toepassen
De array *punten* heeft als shape (10, 5, 3). De array *correctie* heeft als shape (5,). Volgens de broadcastingregels moeten dimensies niet gelijk zijn wanneer één van beide 1 is. De volgende dimensie zou dus werken: (1, 5, 1). Maar bij broadcasting kunnen de 1-waarden links ook automatisch toegevoegd worden. We kunnen dus even goed als shape (5, 1) gebruiken.

In [ ]:
import numpy as np
rng = np.random.default_rng(42)
punten = rng.integers(1, 20, size=(10, 5, 3))
namen = 'student' + np.arange(1, 11).astype(np.str_)
vakken = np.array(['Python', 'SQL', 'NumPy', 'Pandas', 'Matplotlib'])
jaren = 'jaar' + np.arange(1, 4).astype(np.str_)
correctie = np.array([1, 1, -1, 1, -1])
correctie = np.reshape(correctie, (5, 1))
punten_gecorrigeerd = punten + correctie
print(punten_gecorrigeerd)

##2. Naar de autokeuring
Let erop dat je de refdatum als een np.datetime64 definieert.

In [ ]:
import numpy as np

AUTOS_CSV = 'autos.csv'
refdatum = np.datetime64('2025-10-12')
nummerplaten = np.genfromtxt(AUTOS_CSV, delimiter=';', dtype=str, skip_header=1, usecols=0)
inschrijvingsdatums = np.genfromtxt(AUTOS_CSV, delimiter=';', dtype=np.datetime64, skip_header=1, usecols=1)
leeftijden = (refdatum - inschrijvingsdatums).astype('timedelta64[Y]')
print(f'De volgende wagens moeten naar de autokeuring vanaf {refdatum}')
naar_keuring = nummerplaten[leeftijden >= 3]
print(naar_keuring)

[3 2 3 1 3]
De volgende wagens moeten naar de autokeuring vanaf 2025-10-12
['1-AAA-111' '1-CCC-333' '1-EEE-555']

#3. Datums en uren filteren
Het eerste probleem was de berekening van de variabele *is_op_de_middag*. Daarvoor moet je de bitwise operatoren gebruiken.

Om **alle** dagen van november te zien, moet je de bovengrens van *np.arange* op 1 december zetten.

Tenslotte moet je de gegevens per dag tonen. Daarvoor kun je *reshape* gebruiken zodat je de array per rij kunt afdrukken.

In [ ]:
import numpy as np
arr_dagen = np.arange(np.datetime64('2025-11-01'), np.datetime64('2025-12-01'), np.timedelta64(1, 'h'))
arr_basis = arr_dagen.astype('datetime64[D]')
uurverschil = arr_dagen - arr_basis
is_op_de_middag = (uurverschil >= 11) & (uurverschil <= 13)
dagen_op_de_middag = arr_dagen[is_op_de_middag]
dagen_op_de_middag = dagen_op_de_middag.reshape(-1, 3)
for index, datum in enumerate(dagen_op_de_middag, start=1):
    print(f'{index:2}. ', end='')
    for dag in datum:
        print(dag, end=' ')
    print()

##4. Gemiddelde leeftijd van zangeressen
De namen van de zangeressen hebben we niet nodig. Bij het lezen van de geboortedatums wordt een lege string ('') automatisch omgezet naar np.NaT (not-a-datetime).

We kunnen nu filteren op geldige geboortedatums, de leeftijden berekenen en vervolgens het gemiddelde.

Een alternatief is dat we niet filteren en de speciale nan-versie van de functie np.mean() gebruiken.

In [ ]:
import numpy as np
K3_CSV = 'k3.csv'
geboortedatums = np.genfromtxt(K3_CSV, delimiter=';', dtype=np.datetime64, skip_header=1, usecols=1)
geldige_geboortedatums = geboortedatums[~np.isnat(geboortedatums)]
leeftijden = (np.datetime64('today') - geldige_geboortedatums).astype('timedelta64[Y]').astype(np.int64)
print(f'de gemiddelde leeftijd van de zangeressen is {np.mean(leeftijden)} jaar')
#alternatief
vandaag = np.full_like(geboortedatums, np.datetime64('today'))
leeftijden = (np.datetime64('today') - geldige_geboortedatums).astype('timedelta64[Y]').astype(np.int64)
print(f'de gemiddelde leeftijd van de zangeressen is {np.nanmean(leeftijden)} jaar')

de gemiddelde leeftijd van de zangeressen is 44.0 jaar
de gemiddelde leeftijd van de zangeressen is 44.0 jaar

##5.1. Scoren op examens:studeeruur-categorieën
We hebben 4 *bins* nodig tussen het minimum aantal studie-uren en het maximum aantal studie-uren. De beste oplossing hiervoor is *np.linspace()*. Vervolgens kunnen we *np.histogram* gebrruiken om de aantallen en de 'edges' te pakken te krijgen. Voor elke *bin* moeten we nog het gemiddelde berekenen.

In [ ]:
STUDENT_CSV = 'student_exam_scores.csv'
arr_studie = np.genfromtxt(STUDENT_CSV, delimiter=',', skip_header=1, usecols=1)
bins = np.linspace(arr_studie.min(), arr_studie.max(), 4)
aantallen, edges =  np.histogram(arr_studie, bins)
gemiddelde_edges = (edges[:-1] + edges[1:]) / 2
for studeeruur, aantal in zip(gemiddelde_edges, aantallen):
    print(f'{aantal} studenten hebben gemiddeld {studeeruur:.1f} uur gestudeerd')

##6.1. De passagiers van de Titanic: overlevenden per klasse
Om de gegevens in een lus te verwerken, kunnen we beginnen met te berekenen hoeveel passagiers er per klasse zijn. Wanneer we de array *arr_klasse* sorteren, kunnen we met die aantallen de *klassegrenzen* berekenen met de cummulatieve som (np.cumsum()):
* de gegevens van de eerste klasse stoppen vóór index *aantal_1ste_klasse*
* de gegevens van de tweede klasse beginnen bij *aantal_1ste_klasse* en stoppen vóór index *aantal_1ste_klasse* + *aantal_2de_klasse*
* de gegevens van de derde klasse beginnen bij index *aantal_1ste_klasse* + *aantal_2de_klasse* en lopen door tot het einde.

We sorteren arr_overleefd op basis van de sortering van de klassen. Vervolgens kunnen we die array splitsen op de klassegrenzen. Dit levert een Python array op met 3 elementen.

In [ ]:
titanic_csv = 'Titanic-Dataset.csv'
arr_overleefd = np.genfromtxt(titanic_csv, delimiter=',', skip_header=1, usecols=1, dtype=np.uint8)
arr_klasse = np.genfromtxt(titanic_csv, delimiter=',', skip_header=1, usecols=2, dtype=np.uint8)
klasse, aantal_per_klasse =np.unique(arr_klasse, return_counts=True)
klasse_grenzen = np.cumsum(aantal_per_klasse)[:-1]
is_overleefd = arr_overleefd == 1
index_klasse = np.argsort(arr_klasse)
arr_overleefd_klasse = arr_overleefd[index_klasse]
arr_per_klasse_overleefd = np.split(arr_overleefd[index_klasse], klasse_grenzen)
arr_klasse_perc_gered = np.empty(len(klasse), np.uint64)
for index, klasse in enumerate(arr_per_klasse_overleefd):
  aantal = klasse.sum()
  arr_klasse_perc_gered[index] = aantal / aantal_per_klasse[index] * 100
for index, percent_gered in enumerate(arr_klasse_perc_gered, 1):
  print(f'In klasse {index} overleefde {percent_gered}%')

##7.1. Temperatuuranalyse: gemiddelde temperatuur voor Birmingham(US), Parijs en Brussel
Er is ook een Birmingham in het Verenigd Koninkrijk en een Paris in de Verenigde staten maar daarvoor zijn er geen temperaturen. Voor alle veiligheid filteren we toch ook op de landen.

Let op: door een fout hebben Brussel en Parijs dubbele temperaturen voor 30 december. De tweede temperatuur is -99. Die kunnen we eruit filteren.

Zowel Brussel als Parijs hebben voor 31 december hebben een ongeldige temperatuur (-99) Maar we moeten wel zorgen dat we evenveel waarden hebben als voor Birmingham (waar dat probleem niet bestaat). Daarom zetten we de waarden om naar *np.nan*

In [ ]:
import matplotlib.pyplot as plt
import numpy as np
TEMP_CSV = 'city_temperature.csv'
arr_land = np.genfromtxt(TEMP_CSV, delimiter=',', skip_header=1, usecols=(1), dtype=str)
arr_stad = np.genfromtxt(TEMP_CSV, delimiter=',', skip_header=1, usecols=(3), dtype=str)
arr_jaar = np.genfromtxt(TEMP_CSV, delimiter=',', skip_header=1, usecols=(6), dtype=np.uint16)
arr_maand = np.genfromtxt(TEMP_CSV, delimiter=',', skip_header=1, usecols=(4), dtype=np.uint8)
arr_dag = np.genfromtxt(TEMP_CSV, delimiter=',', skip_header=1, usecols=(5), dtype=np.uint8)
arr_temp = np.genfromtxt(TEMP_CSV, delimiter=',', skip_header=1, usecols=(-1), dtype=np.float64)

#Filters definiëren
is_belgie = arr_land == 'Belgium'
is_brussel = arr_stad == 'Brussels'
is_us = arr_land == 'US'
is_birmingham = arr_stad == 'Birmingham'
is_frankrijk = arr_land == 'France'
is_parijs = arr_stad == 'Paris'
is_jaar_2015 = arr_jaar == 2015
is_maand_12 = arr_maand == 12

#Arrays filteren
arr_temp_birmingham = arr_temp[is_birmingham & is_us & is_jaar_2015 & is_maand_12]
#Let op met de dubbele temperatuur voor 30 december
arr_temp_parijs = arr_temp[is_parijs & is_frankrijk & is_jaar_2015 & is_maand_12 & ~((arr_dag == 30) & (arr_temp == -99))]
arr_temp_brussel = arr_temp[is_brussel &is_belgie & is_jaar_2015 & is_maand_12 & ~((arr_dag == 30) & (arr_temp == -99))]

#Vervang ongeldige temperaturen door np.nan
arr_temp_parijs[arr_temp_parijs == -99] = np.nan
arr_temp_brussel[arr_temp_brussel == -99] = np.nan
arr_temp_F = np.column_stack((arr_temp_birmingham, arr_temp_parijs, arr_temp_brussel))

#Zet alle temperaturen om naar °C
arr_temp_C = (arr_temp_F - 32) * 5 / 9
arr_gemiddelde_dag = np.nanmean(arr_temp_C, axis=1)
arr_dagen = np.arange(1, 32)
for dag, gemiddelde in zip(arr_dagen, arr_gemiddelde_dag):
  print(f'dag {dag}: {gemiddelde:.2f} °C')
plt.plot(arr_dagen, arr_gemiddelde_dag)
plt.show()

##8.1. Taxiritten in New York: duurtijden
We zullen om te beginnen eens een idee proberen te krijgen over de duurtijden:

In [ ]:
import numpy as np
TAXI_CSV = 'data.csv'
arr_pickup_dropoff = np.genfromtxt(TAXI_CSV, delimiter=',', skip_header=1, usecols=(1, 2), dtype=np.datetime64)
arr_duurtijd = arr_pickup_dropoff[:, 1] - arr_pickup_dropoff[:, 0]
print(f'gemiddelde duurtijd: {arr_duurtijd.mean()}')
print(f'langste duurtijd: {arr_duurtijd.max()}')
print(f'kortste duurtijd: {arr_duurtijd.min()}')

Een negatieve duurtijd is natuurlijk onmogelijk. Maar 511507 seconden komt ongeveer overeen met een taxirit van 6 dagen. Dat is ook nogal veel.  

Laat ons eerst eens naar de negatieve duurtijden kijken. De eerste is duidelijk een fout: op 4 januari vertrekken en en 2 januari aankomen is fysiek onmogelijk. De andere waarden vertonen allemaal een patroon: duurtijd = -10 seconden.

In [ ]:
arr_pickup_dropoff[arr_duurtijd < 0]

We kunnen ook eens kijken naar de afstanden met duurtijd =0. Omdat dat er veel zijn, is het handig om eens naar min() en max() te kijken.

Maar misschien dat een verdeling over een reeks bins ons nog wat meer informatie verschaft?

In [ ]:
arr_trip_distance = np.genfromtxt(TAXI_CSV, delimiter=',', skip_header=1, usecols=(4))
print(arr_trip_distance[arr_duurtijd == 0].min())
print(arr_trip_distance[arr_duurtijd == 0].max())
bins= [0, 5, 10, 15, 20, 25, 30]
np.histogram(arr_trip_distance[arr_duurtijd == 0], bins)

De overgrote meerderheid van de taxiritten met duurtijd 0 hebben ook een afstand van minder dan 5 mijlen. Dat is logisch. Er zijn er een aantal (16) die langer waren. We kunnen eventueel nog eens kijken hoeveel ritten een duurtijd van 0 hadden en een afstand die groter was dan 0. Dat zijn er 288.

In [ ]:
np.count_nonzero((arr_duurtijd == 0) & (arr_trip_distance > 0))

###Eerste filter
De taxiritten met duurtijd 0 zijn voor het overgrote deel logisch want ze hebben ook een afstand van 0 mijlen. Het zijn dus waarschijnlijk ritten die niet effectief gestart zijn. Aangezien we de gemiddelde duurtijd van een taxirit willen berekenen, zullen we die niet meerekenen.

De negatieve duurtijden zijn fout en mogen ook niet meegerekend worden voor de berekening van het gemiddelde.

Wat de ritten betreft met duurtijd 0 en afstand > 0: daar weten we niet wat er aan de hand is. Vermoedelijk gaat het om foute data. Omdat het er niet veel zijn, zullen we ze er ook uitfilteren. De eerste filter wordt dus:

In [ ]:
filter = (arr_duurtijd > 0)
print(f'gemiddelde duurtijd: {arr_duurtijd[filter].mean()}')
print(f'langste duurtijd: {arr_duurtijd[filter].max()}')
print(f'kortste duurtijd: {arr_duurtijd[filter].min()}')

We kunnen vervolgens eens naar de uitzonderlijk lange duurtijden kijken. Laat ons om te beginnen eens kijken naar 'langer dan een dag'. Dat zijn er 15 met als langste afstand ongeveer 60 mijlen(5.885e+01). Dat klinkt allemaal erg onwaarschijnlijk.

In [ ]:
print(arr_trip_distance[filter &(arr_duurtijd > 3600 * 24)])

We kunnen misschien eens naar de gemiddelde snelheid kijken van de ritten die langer dan 24 uur duren. Een snelheid van 1 mijl/uur komt overeen met slenteren. Daarnaast zijn er ook een aantal ritten met als snelheid 0. Dat komt overeen met stilstaan

In [ ]:
temp_filter = filter & (arr_duurtijd > 3600 * 24)
snelheid = arr_trip_distance[temp_filter] / (arr_duurtijd[temp_filter] / 3600).astype(np.int64)
print(f'hoogste snelheid: {snelheid.max()}')
print(f'laagste snelheid: {snelheid.min()}')
print(f'aantal: {snelheid.size}')

Mogen we de ritten met afstand 0 eruit filteren? Misschien niet. Er kunnen passagiers zijn die uit de taxi stappen wanneer die vastzit in het verkeer en toch moeten betalen. Laat ons eens kijken hoe het zit met de kostprijs voor een rit met afstand 0.

In [ ]:
temp_filter = filter & (arr_trip_distance == 0)
arr_totaal = np.genfromtxt(TAXI_CSV, delimiter=',', skip_header=1, usecols=(-2))
print(arr_totaal[temp_filter].max())
print(arr_totaal[temp_filter].min())
print(np.count_nonzero(temp_filter))

Een negatieve kostprijs zou een teruggave kunnen zijn. Laat ons eens kijken naar de verdeling van de prijzen voor de ritten die we er nu uitgefilterd hebben. De prijzen tussen 0 en 50 dollar zouden misschien nog wel kunnen, maar een hogere kostprijs lijkt nogal hoog. Maar wanneer we naar het totaal aantal ritten kijken, ligt dit weer niet zo hoog. We zullen de ritten met afstand 0 eruit filteren.

Omdat negatieve bedragen ofwel niet correct zijn, ofwel een teruggave zijn en dus niet meegeteld moeten worden voor de gemiddelde duurtijd, nemen we die voorwaarde ook op in de filter.

In [ ]:
bins = [-1000, 0,50,  100, 200, 300, 400, 500, 600, 700, 800, 900, 1000, 1100]
np.histogram(arr_totaal[temp_filter], bins)

###Tweede filter
Laat ons nu nog eens terug kijken naar de duurtijden van de ritten met de nieuwe filter

In [ ]:
filter2 = filter & (arr_trip_distance > 0) & (arr_totaal > 0)
print(arr_duurtijd[filter].max())
print(arr_duurtijd[filter].min())
print(np.count_nonzero(filter))

Op welke basis zouden we een maximumduurtijd kunnen bepalen voor de filter op de taxiritten? We zouden eens naar de verdelingen van de aantallen kunnen kijken.

In [ ]:
bins = np.arange(0, 3600 * 24, 3600)
np.histogram(arr_duurtijd[filter2], bins)

##Derde filter
De overgrote meerderheid van de ritten duren minder dan 2 uur. Misschien dat we hier wel een goede maximumwaarde hebben voor de duurtijd. Het wegfilteren zal niet veel invloed hebben op de gemiddelde duurtijd.

In [ ]:
filter3 = filter2 & (arr_duurtijd < 3600*2)
print(f'gemiddelde duurtijd: {arr_duurtijd[filter3].mean()}')
print(f'langste duurtijd: {arr_duurtijd[filter3].max()}')
print(f'kortste duurtijd: {arr_duurtijd[filter3].min()}')

Wanneer we als maximumduurtijd 3 uur nemen, is de gemiddelde tijd 1 seconde langer. We zouden eventueel eens kunnen kijken naar de prijzen voor de ritten tussen 2 en 3 uur. De meerderheid ligt tussen de 50 en de 100 dollar. Dat is misschien niet zo uitzonderlijk.

In [ ]:
temp_filter = filter2 & (arr_duurtijd > 3600 * 2) & (arr_duurtijd < 3600 * 3)
print(arr_totaal[temp_filter].max())
print(arr_totaal[temp_filter].min())
bins = [0, 5, 25, 50, 100, 500, 1200]
np.histogram(arr_totaal[temp_filter], bins)

###Uiteindelijke (voorlopige) filter
Omdat de prijzen voor de taxiritten tussen de 2 en de 3 uur misschien ook nog wel ok zijn, zet ik de uiteindelijke filter op 3 uur.

In [ ]:
import matplotlib.pyplot as plt
filter4 = filter2 & (arr_duurtijd < 3600*3)
print(f'gemiddelde duurtijd: {arr_duurtijd[filter4].mean()}')
print(f'langste duurtijd: {arr_duurtijd[filter4].max()}')
print(f'kortste duurtijd: {arr_duurtijd[filter4].min()}')
plt.hist(arr_duurtijd[filter4].astype(np.int64), bins=10)
plt.show()