# Vraag 1
De volgende code maakt een CSV-bestand met de verkopen voor de weken van januari. Vul de code aan met NumPy-code zodat je het csv-bestand leest en het laagste verkoopbedrag afgedrukt wordt.

Verwachte output:
```
Het laagste verkoopbedrag is € 1200.
```
Plak je code in de Syntra leeromgeving.

In [ ]:
from csv import DictWriter
from datetime import date
import numpy as np
verkopen = [{"datum": date(2026, 1, 5),"maandag":2000, "dinsdag": 1500, "woensdag":2050, "donderdag":2300, "vrijdag":5000, "zaterdag":6000},
            {"datum": date(2026, 1, 12),"maandag":5000, "dinsdag": 2500, "woensdag":1450, "donderdag":3500, "vrijdag":6200, "zaterdag":8000},
            {"datum": date(2026, 1, 19),"maandag":4900, "dinsdag": 3000, "woensdag":2000, "donderdag":1200, "vrijdag":6000, "zaterdag":7600},
            {"datum": date(2026, 1, 26),"maandag":1200, "dinsdag": 3500, "woensdag":2050, "donderdag":3000, "vrijdag":4500, "zaterdag":7000},
]
BESTAND = "verkopen.csv"
with open(BESTAND, "w", newline="") as f:
    writer = DictWriter(f, delimiter=";", fieldnames=verkopen[0].keys())
    writer.writeheader()
    writer.writerows(verkopen)

In [ ]:
# lees de data in het csv-bestand en bereken het laagste bedrag
laagste_bedrag = None
print(f"Het laagste verkoopbedrag is € {laagste_bedrag}.")

# Vraag 2
We werken verder met het bestand uit de vorige vraag. Vul aan met NumPy-code zodat je het hoogste gemiddelde weekverkoopcijfer afdrukt en de datum van de week met het hoogste gemiddelde weekverkoopcijfer.

Verwachte output:
```
Het grootste gemiddelde verkoopcijfer is €4441.67 van de week 2026-01-12.
```

Plak je code in de Syntra leeromgeving.

In [ ]:
BESTAND = "verkopen.csv"
#lees de nodige data uit het bestand en bereken het hoogste gemiddelde verkoopcijfer per week en de datum van 
#die week

grootste_verkoopcijfer = None
week_grootste_verkoopcijfer = None
print(f"Het grootste gemiddelde verkoopcijfer is €{grootste_verkoopcijfer:.2f} van de week {week_grootste_verkoopcijfer}.")

# Vraag 3
Er is een fout geslopen in de registratie van de verkoopcijfers. De verkoper van zaterdag heeft de prijzen inclusief BTW (21%) genoteerd terwijl de andere prijzen exclusief BTW zijn. Zorg ervoor dat de volgende code de juiste cijfers toont.
```
      datum    maandag    dinsdag   woensdag  donderdag    vrijdag   zaterdag
      -----    -------    -------   --------  ---------    -------   --------
 2026-01-05    2000.00    1500.00    2050.00    2300.00    5000.00    4958.68
 2026-01-12    5000.00    2500.00    1450.00    3500.00    6200.00    6611.57
 2026-01-19    4900.00    3000.00    2000.00    1200.00    6000.00    6280.99
 2026-01-26    1200.00    3500.00    2050.00    3000.00    4500.00    5785.12
```
Plak je code in de Syntra leeromgeving.

In [ ]:
datums = None
verkopen = None
headers = ("datum","maandag", "dinsdag", "woensdag", "donderdag", "vrijdag", "zaterdag")
for header in headers:
    print(f"{header:>11s}", end="")
print()
for header in headers:
    print(f"{'-' * len(header):>11s}", end="")
print()
for rij, datum in zip(verkopen, datums):
    print(f"{datum:>11s}", end="")
    for prijs in rij:
        print(f"{prijs:>11.2f}", end="")
    print()

# Vraag 4
De onderstaande code download de data van de ramp met de Titanic. Je vindt de beschrijving van die dataset [hier](https://www.kaggle.com/datasets/yasserh/titanic-dataset).

Lees de data en toon hoeveel mannen en hoeveel vrouwen er aanwezig waren.

Verwachte output:
```
Er waren 314 vrouwen aanwezig op de Titanic
Er waren 577 mannen aanwezig op de Titanic
```
Plak je code in de Syntra leeromgeving.

In [43]:
from zipfile import ZipFile
import requests
DATA_ZIP = 'data.zip'
data = requests.get('https://www.kaggle.com/api/v1/datasets/download/yasserh/titanic-dataset')
with open(DATA_ZIP, 'wb') as f:
  f.write(data.content)
with open(DATA_ZIP, 'rb') as f:
  ZipFile(f).extractall()

In [ ]:
#Zorg ervoor dat je de data in het bestand correct leest en bereken het aantal mannen en het aantal vrouwen.
aantal_vrouwen = None
aantal_mannen = None
print(f"Er waren {aantal_vrouwen} vrouwen aanwezig op de Titanic")
print(f"Er waren {aantal_mannen} mannen aanwezig op de Titanic")

Er waren 314 vrouwen aanwezig op de Titanic
Er waren 577 mannen aanwezig op de Titanic

# Vraag 5
Zoek een antwoord op de volgende vraag: wie had de grootste kans om de ramp met de Titanic te overleven. Maak daarvoor een lijst met de overlevingskansen per klasse en per geslacht.

Verwachte output:
```
Overlevingskansen vrouwen per klasse:
In klasse 1 overleefde 96.8%.
In klasse 2 overleefde 92.1%.
In klasse 3 overleefde 50.0%.
Overlevingsklassen mannen per klasse:
In klasse 1 overleefde 36.9%.
In klasse 2 overleefde 15.7%.
In klasse 3 overleefde 13.5%.
```
Plak je code in de Syntra leeromgeving.

In [ ]:
percentage_mannen_overleefd_per_klasse = {}
percentage_vrouwen_overleefd_per_klasse = {}
print('Overlevingskansen vrouwen per klasse:')
for klasse in (1, 2, 3):
    print(f"In klasse {klasse} overleefde {percentage_vrouwen_overleefd_per_klasse[klasse]:.1f}%.")
print('Overlevingsklassen mannen per klasse:')
for klasse in (1, 2, 3):
    print(f"In klasse {klasse} overleefde {percentage_mannen_overleefd_per_klasse[klasse]:.1f}%.")

# Oplossing 1
Je kunt alle verkoopcijfers ineens inlezen met *usecols=range(1,6)*. Vervolgens kun je de min-functie van NumPy gebruiken:

```
verkopen = np.genfromtxt(BESTAND, delimiter=';', dtype=np.int16, skip_header=1, usecols=range(1, 7))
laagste_bedrag = np.min(verkopen)
```
# Oplossing 2
De functie *argmax* hebben we niet gezien maar je kunt waarschijnlijk wel afleiden dat je hiermee de index krijgt van de hoogste waarde in een array
Je kunt hiervoor de functie *argmax()* gebruiken. Die hebben we niet gezien, maar het zal wel duidelijk zijn wat die doet (denk aan argsort())
```
datums = np.genfromtxt(BESTAND, delimiter=';', skip_header=1, dtype=np.datetime64, usecols=0)
gemiddelde_verkopen = np.mean(verkopen, axis=1)
index_grootste_verkoopcijfer = np.argmax(gemiddelde_verkopen)
grootste_verkoopcijfer = gemiddelde_verkopen[index_grootste_verkoopcijfer]
week_grootste_verkoopcijfer = datums[np.argmax(gemiddelde_verkopen)]
```
# Oplossing 3
Let op: om de '/=' operator te kunnen gebruiken, moet de array verkopen floats bevatten. Een integer-array kan immers geen floatwaarden bevatten.
```
datums = np.genfromtxt(BESTAND, delimiter=';', skip_header=1, dtype=np.datetime64, usecols=0)
verkopen = np.genfromtxt(BESTAND, delimiter=';',  skip_header=1, usecols=range(1, 7))
verkopen[:, -1] /= 1.21
```
# Oplossing 4
Let op met de dataset: De namen bevatten een komma. Dat is geen probleem voor de CSvreader van Python (en ook niet voor Pandas) aangezien de teksten tussen dubbele aanhalingstekens staan. Maar *genfromtext()* snapt dit niet. Mijn oplossing is dat we het bestand lezen met Python en bewaren als CSV-bestand met als delimiter een puntkomma.

Met np.unique() kunnen we de unieke waarden opvragen en (met return_counts=True) de aantallen
```
from csv import DictReader, DictWriter
# Schrijf hier de code.
BESTAND = "Titanic-Dataset.csv"
TITANIC_CSV = "Titanic_puntkomma.csv"
# controleer de inhoud
#with open(BESTAND, 'r') as f:
#    for _ in range(5):
#        print(f.readline(), end="")
with open(BESTAND, 'r', newline="") as f_in:
    reader = DictReader(f_in, delimiter=',')
    with open (TITANIC_CSV, mode='w', newline="") as f_out:
        writer = DictWriter(f_out, delimiter=';', fieldnames=reader.fieldnames)
        writer.writeheader()
        for regel in reader:
            writer.writerow(regel)
geslacht = np.genfromtxt(TITANIC_CSV, skip_header=1, dtype=str, usecols=4, delimiter=';')
geslachten, aantallen = np.unique(geslacht, return_counts=True)
aantal_mannen = aantallen[geslachten=='male'][0]
aantal_vrouwen = aantallen[geslachten=='female'][0]
```
# Oplossing 5
Er zijn hier verschillende mogelijke manieren om dit op te lossen. Maar dit is een voorbeeld. Ik maak hier gebruik van het feit dat de kolom 'overleefd' de getallen 1 of 0 bevat. Vandaar dat we *np.count_nonzero()* kunnen gebruiken.
````
TITANIC_CSV = "Titanic_puntkomma.csv"
arr_geslacht = np.genfromtxt(TITANIC_CSV, skip_header=1, dtype=str, usecols=4, delimiter=';')
arr_overleefd = np.genfromtxt(TITANIC_CSV, skip_header=1, usecols=1, delimiter=';')
arr_klasse = np.genfromtxt(TITANIC_CSV, skip_header=1, usecols=2, dtype=np.int8, delimiter=';')
totaal_mannen_per_klasse = {}
totaal_vrouwen_per_klasse = {}
totaal_mannen_overleefd_per_klasse = {}
totaal_vrouwen_overleefd_per_klasse = {}
for klasse in (1, 2, 3):
    totaal_mannen_per_klasse[klasse] = np.count_nonzero((arr_geslacht=='male') & (arr_klasse==klasse))
    totaal_vrouwen_per_klasse[klasse] = np.count_nonzero((arr_geslacht=='female') & (arr_klasse== klasse))
    totaal_mannen_overleefd_per_klasse[klasse] = np.count_nonzero(arr_overleefd[(arr_geslacht=='male') & (arr_klasse==klasse)])
    totaal_vrouwen_overleefd_per_klasse[klasse] = np.count_nonzero(arr_overleefd[(arr_geslacht=='female') & (arr_klasse==klasse)])
percentage_vrouwen_overleefd_per_klasse = {}
percentage_mannen_overleefd_per_klasse = {}
for klasse in (1, 2, 3):
    percentage_mannen_overleefd_per_klasse[klasse] = totaal_mannen_overleefd_per_klasse[klasse] / totaal_mannen_per_klasse[klasse] * 100
    percentage_vrouwen_overleefd_per_klasse[klasse] = totaal_vrouwen_overleefd_per_klasse[klasse] / totaal_vrouwen_per_klasse[klasse] * 100
```